*.pyc
.idea/
.vscode/
db.sqlite3
venv/

#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Docker-Compose env files
config.local.env
config.env

# Docker-Compose mysql container data volume
database/